@page
@model ImobSystem.Pages.ClientModel
@{
    ViewData["Title"] = "Clients";
}
 <style>
    .custom-col {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="container-fluid">
    <section>
        <h1>Acompanhamentos</h1>
        <hr>
        <div class="container pb-4">
            <div class="row d-flex flex-row justify-content-center align-items-center">
                <!-- Atendimento -->
                <div class="text-center position-relative rounded-3 border m-4 p-4" style="height: 250px; width: 250px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientInServices</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/ClientServices" style="text-decoration: none; color: inherit;">
                            <img src="~/images/services.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 96px;">
                            <h2>Atendimento</h2>
                        </a>
                    </div>
                </div>
                <!-- Visita -->
                <div class="text-center position-relative rounded-3 border m-4 p-4" style="height: 250px; width: 250px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientInVisits</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/Visits" style="text-decoration: none; color: inherit;">
                            <img src="~/images/visits.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 96px;">
                            <h2>Visitas</h2>
                        </a>
                    </div>
                </div>
                <!-- Proposta -->
                <div class="text-center position-relative rounded-3 border m-4 p-4" style="height: 250px; width: 250px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientInProposals</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/Proposal" style="text-decoration: none; color: inherit;">
                            <img src="~/images/proposals.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 96px;">
                            <h2>Propostas</h2>
                        </a>
                    </div>
                </div>
                <!-- Formalização -->
                <div class="text-center position-relative rounded-3 border m-4 p-4" style="height: 250px; width: 250px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientInFormalizations</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/Formalizations" style="text-decoration: none; color: inherit;">
                            <img src="~/images/formalizations.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 96px;">
                            <h2>Formalização</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1>Clientes e Imóveis</h1>
        <hr>
        <div class="container pb-4">
            <!-- Proprietários -->
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 text-center position-relative rounded-3 border m-4 p-4" style="height: 275px; width: 275px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.TotalOwners</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/Owners" style="text-decoration: none; color: inherit;">
                            <img src="~/images/owner.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 128px;">
                            <h2>Proprietários</h2>
                        </a>
                    </div>
                </div>
                <!-- Casas -->
                <div class="col-lg-6 text-center position-relative rounded-3 border m-4 p-4" style="height: 275px; width: 275px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.TotalHouses</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/Houses" style="text-decoration: none; color: inherit;">
                            <img src="~/images/houses.png" asp-append-version="true" alt="Casas" class="img-fluid mb-4" style="max-height: 128px;">
                            <h2>Casas</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1>Leads</h1>
        <hr>
        <div class="container pb-4">
            <div class="row justify-content-center align-items-center">
                <!-- Leads Infrutíferos -->
                <div class="col-lg-6 text-center position-relative rounded-3 border m-4 p-4" style="height: 275px; width: 275px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientNotBusiness</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/NotBusiness" style="text-decoration: none; color: inherit;">
                            <img src="~/images/trash.png" asp-append-version="true" alt="Proprietários" class="img-fluid mb-4" style="max-height: 128px;">
                            <h2>Leads Infrutíferos</h2>
                        </a>
                    </div>
                </div>
                <!-- Leads Totais -->
                <div class="col-lg-6 text-center position-relative rounded-3 border m-4 p-4" style="height: 275px; width: 275px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.TotalClientServices</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/LeadsTotal" style="text-decoration: none; color: inherit;">
                            <img src="~/images/leads.png" asp-append-version="true" alt="Casas" class="img-fluid mb-4" style="max-height: 128px;">
                            <h2>Leads Totais</h2>
                        </a>
                    </div>
                </div>
                <!-- Fechamentos Totais -->
                <div class="col-lg-6 text-center position-relative rounded-3 border m-4 p-4" style="height: 275px; width: 275px; background-color: #e4f2f2">
                    <!-- Bubble -->
                    <div class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-2" style="background-color: #d4e9e9">
                        <h4 style="color: #1C1C1C" >@Model.ClientInBusiness</h4>
                    </div>
                    <!-- Icon and Text -->
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a asp-page="/TotalBusiness" style="text-decoration: none; color: inherit;">
                            <img src="~/images/formalizations.png" asp-append-version="true" alt="Casas" class="img-fluid mb-4" style="max-height: 128px;">
                            <h2>Fechamentos Totais</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
