@page
@model ImobSystem.Pages.ClientServicesModel
@{
    ViewData["Title"] = "Atendimentos";
}

<div class="text-center">
    <h1 class="display-4">Atendimentos</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Interesse</th>
                        <th>Descrição do Imóvel</th>
                        <th>Valor do Imóvel</th>
                        <th>Origem</th>
                        <th><a href="#" id="openNovoAtendimentoModal" data-bs-toggle="modal" data-bs-target="#novoAtendimentoModal">Novo Atendimento</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ClientServices != null)
                    {
                        foreach (var service in Model.ClientServices)
                        {
                            if (service.Client.ClientFases.Any(cf => cf.FaseId == 1))
                            {
                                <tr>
                                    <td>@service.Data.ToString("dd/MM/yyyy")</td>
                                    <td>@service.Client.Nome</td>
                                    <td>@service.Client.Telefone</td>
                                    <td>@service.Client.Interesse</td>
                                    <td>@service.Client.DescricaoImovel</td>
                                    <td>@service.Client.ValorImovel.ToString("C2")</td>
                                    <td>@service.Client.Origin</td>
                                    <td>[ALTERAR] [EXCLUIR]</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novoAtendimentoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Atendimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeNovoAtendimentoModal"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="Client.Nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="data" class="form-label">Data:</label>
                        <input type="date" class="form-control" id="data" name="Client.Data" required> <!--corrigir problema de data-->
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="Client.Telefone" required>
                    </div>
                    <div class="mb-3">
                        <label for="interesse" class="form-label">Interesse:</label>
                        <input type="text" class="form-control" id="interesse" name="Client.Interesse" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricaoImovel" class="form-label">Descrição do Imóvel:</label>
                        <input type="text" class="form-control" id="descricaoImovel" name="Client.DescricaoImovel" required>
                    </div>
                    <div class="mb-3">
                        <label for="valorImovel" class="form-label">Valor do Imóvel:</label>
                        <input type="text" class="form-control" id="valorImovel" name="Client.ValorImovel" required oninput="formatCurrency(this)">
                    </div>
                    <div class="mb-3">
                        <label for="Origin" class="form-label">Origem:</label>
                        <input type="text" class="form-control" id="Irigin" name="Client.Origin" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

