@page
@model ImobSystem.Pages.FormalizationModel
@{
    ViewData["Title"] = "Formalizações";
}

<div class="text-center">
    <h1 class="display-4">Formalizações</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data Documentacação</th>
                        <th>Cliente</th>
                        <th>A Vista ou Financiamento</th> 
                        <th>Data Vistoria</th>
                        <th>Data Constrato bancário</th>
                        <th>Data Escritura</th>
                        <th>Data Pagamento</th>
                        <th>[Ação] </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Formalizations != null && Model.Formalizations.Any())
                    {
                        foreach (var formalization in Model.Formalizations)
                        {
                            <tr>
                                <td>@formalization.DataDoc.ToString("dd/MM/yyyy")</td>
                                <td>@formalization.Proposal.Client.Nome</td>
                                <td>@formalization.Modalidade</td>
                                <td>@formalization.DataVistoria.ToString("dd/MM/yyyy")</td>
                                <td>@formalization.DataContrato.ToString("dd/MM/yyyy")</td>
                                <td>@formalization.DataEscritura.ToString("dd/MM/yyyy")</td>
                                <td>@formalization.DataPagamento.ToString("dd/MM/yyyy")</td>
                                <td>[ALTERAR] [EXCLUIR]</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum dado de visita encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>