@page
@model ImobSystem.Pages.FormalizationModel
@{
    ViewData["Title"] = "Formalizações";
}

<div class="text-center">
    <h1 class="display-4">Formalizações</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data Documentacação</th>
                        <th>Cliente</th>
                        <th>Modalidade</th> 
                        <th>Data Vistoria</th>
                        <th>Data Contrato </th>
                        <th>Data Escritura</th>
                        <th>Data Pagamento</th>
                        <th>[Ação] </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Formalizations != null && Model.Formalizations.Any())
                    {
                        foreach (var formalization in Model.Formalizations)
                        {
                            if (formalization.Proposal.Client.ClientFases.Any(cf => cf.FaseId == 4))
                            {
                                <tr>
                                    <td>@formalization.DataDoc.ToString("dd/MM/yyyy")</td>
                                    <td>@formalization.Proposal.Client.Nome</td>
                                    <td>@formalization.Modalidade</td>
                                    <td>@formalization.DataVistoria.ToString("dd/MM/yyyy")</td>
                                    <td>@formalization.DataContrato.ToString("dd/MM/yyyy")</td>
                                    <td>@formalization.DataEscritura.ToString("dd/MM/yyyy")</td>
                                    <td>@formalization.DataPagamento.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <form method="post" asp-page-handler="AceitarFormalization" asp-route-id="@formalization.Proposal.Client.Id" onsubmit="return confirm('PARABÉNS, você concluiu essa negociação')">
                                            <button type="submit" class="btn btn-primary">ACEITAR</button>
                                        </form>
                                        <form method="post" asp-page-handler="DeleteFormalization" asp-route-id="@formalization.Proposal.Client.Id" onsubmit="return confirm('Tem certeza que deseja encerrar este atendimento?')">
                                            <button type="submit" class="btn btn-danger">EXCLUIR</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum dado de visita encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>