@page
@model ImobSystem.Pages.ProposalModel
@{
    ViewData["Title"] = "Propostas";
}

<div class="text-center">
    <h1 class="display-4">Propostas</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Cliente</th>
                        <th>Endereço</th>
                        <th>Valor do Imóvel</th>
                        <th>Proposta Cliente</th>
                        <th>Proprietario</th>
                        <th>Contra-Proposta</th>
                        <th>[Ação] </th>
                    </tr> 
                </thead>
                <tbody>
                    @if (Model.Proposals != null && Model.Proposals.Any())
                    {
                        foreach (var proposal in Model.Proposals)
                        {
                            <tr>
                                <td>@proposal.Data.ToString("dd/MM/yyyy")</td>
                                <td>@proposal.Client.Nome</td>
                                <td>@proposal.House.FullAddress</td>
                                <td>@proposal.House.ValorImovel.ToString("C2")</td>
                                <td>@proposal.ValorProposal.ToString("C2")</td>
                                <td>@proposal.House.Owner.Nome</td>
                                <td>@proposal.ValorContraProposal.ToString("C2")</td>
                                <td>[ALTERAR] [EXCLUIR]</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum dado de visita encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>