@page
@model ImobSystem.Pages.VisitModel
@{
    ViewData["Title"] = "Visitas";
}

<div class="text-center">
    <h1 class="display-4">Visitas</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Endereço</th>
                        <th>Valor do Imóvel</th>
                        <th>Client</th>
                        <th>Valor do Cliente</th>
                        <th>[Ação] </th>
                    </tr> 
                </thead>
                <tbody>
                    @if (Model.VisitHouses != null && Model.VisitHouses.Any())
                    {
                        foreach (var visit in Model.VisitHouses)
                        {
                            if (visit.Client.ClientFases.Any(cf => cf.FaseId == 2))
                            {    
                                <tr> 
                                    <td>@visit.Data.ToString("dd/MM/yyyy")</td>
                                    <td>@visit.House.FullAddress</td>
                                    <td>@visit.House.ValorImovel.ToString("C2")</td>
                                    <td>@visit.Client.Nome</td>
                                    <td>@visit.Client.ValorImovel.ToString("C2")</td>
                                    <td>[ALTERAR] [EXCLUIR]</td>
                                </tr>
                            }    
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum dado de visita encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>