@page
@model ImobSystem.Pages.VisitModel
@{
    ViewData["Title"] = "Visitas";
}

<div class="text-center">
    <h1 class="display-4">Visitas</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Endereço</th>
                        <th>Valor do Imóvel</th>
                        <th>Client</th>
                        <th>Valor do Cliente</th>
                        <th>[Ação] </th>
                    </tr> 
                </thead>
                <tbody>
                    @if (Model.VisitHouses != null && Model.VisitHouses.Any())
                    {
                        foreach (var visit in Model.VisitHouses)
                        {
                            if (visit.Client.ClientFases.Any(cf => cf.FaseId == 2))
                            {    
                                <tr> 
                                    <td>@visit.Data.ToString("dd/MM/yyyy")</td>
                                    <td>@visit.House.FullAddress</td>
                                    <td>@visit.House.ValorImovel.ToString("C2")</td>
                                    <td>@visit.Client.Nome</td>
                                    <td>@visit.Client.ValorImovel.ToString("C2")</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#novaPropostaModal-@visit.Client.Id">Proposta</button>
                                        <form method="post" asp-page-handler="DeleteVisit" asp-route-id="@visit.Client.Id" onsubmit="return confirm('Tem certeza que deseja encerrar este atendimento?')">
                                            <button type="submit" class="btn btn-danger">EXCLUIR</button>
                                        </form>
                                    </td>

                                </tr>
                            }    
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum dado de visita encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@foreach (var visit in Model.VisitHouses)
{
    <!-- Modal de nova proposta -->
    <div class="modal fade" id="novaPropostaModal-@visit.Client.Id" tabindex="-1" aria-labelledby="novaPropostaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novaPropostaModalLabel">Nova Proposta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="AdicionarProposta" asp-route-clientId="@visit.Client.Id" asp-route-houseId="@visit.House.Id">
                        <div class="mb-3">
                            <label for="dataProposta" class="form-label">Data da Proposta:</label>
                            <input type="date" class="form-control" id="dataProposta" name="DataProposta" required>
                        </div>
                        <div class="mb-3">
                            <label for="valorProposta" class="form-label">Valor da Proposta:</label>
                            <input type="text" class="form-control" id="valorProposta" name="ValorProposta" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="valorContraProposta" class="form-label">Contra-Proposta:</label>
                            <input type="text" class="form-control" id="valorContraProposta" name="ValorContraProposta" step="0.01" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
